* {
    margin: 0;
    padding: 0;
}

/* .calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 30px;
} */
.calculadora .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
.calculadora .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #dcdcdc;
    width: calc(4/1);
    padding: 65px 30px;
    margin: 0 5px;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card input {
    height: 50px;
    font-size: 16px;
    padding: 0 30px;
    border-radius: 6px;
}
.card .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .btn button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 30px;
    border-radius: 6px;
}

.campo {
    display: flex;
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    color: rgb(0, 0, 0);
    width: 15%;
    height: 40px;
    font-weight: 500;
}

.campo_Hexadecimal {
    display: none;
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    color: rgb(7, 7, 7);
    width: 15%;
    height: 40px;
    font-weight: 500;
}

.campo_Binario {
    display: none;
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    color: rgb(5, 5, 5);
    width: 60%;
    height: 50px;
    font-weight: 500;
}